:root {
  --main-color: rgb(31, 73, 212);
  --border-dark: 1px solid rgb(20, 65, 216);
  --border-contrast: 1px solid white;
  --secondary-color: rgba(213, 120, 216);

  --transition-button: all 200ms ease-in-out;
  --margin-between-buttons: 20px;
  --shadow-buttons: 3px 3px 8px rgba(213, 120, 216, 0.3);
  --shadow-img: 5px 5px 10px rgba(213, 120, 216, 0.3);
  --rounded-more: 10px;
  --background-color: rgba(213, 120, 216, 0.05);
  --nav-background-color: rgb(250, 241, 251);
  --background-contrast-color: white;
}

/* 

other
:root {
  --main-color: rgb(87, 0, 0);
  --border-dark: 1px solid rgb(87, 0, 0);
  --border-contrast: 1px solid white;
  --secondary-color: rgba(0, 116, 0);

  --transition-button: all 200ms ease-in-out;
  --margin-between-buttons: 20px;
  --shadow-buttons: 3px 3px 8px rgba(0, 116, 0, 0.3);
  --shadow-img: 5px 5px 10px rgba(0, 116, 0, 0.3);
  --rounded-more: 10px;
  --background-color: rgba(225, 243, 229, 0.075);
  --nav-background-color: rgb(225, 243, 229);
  --background-contrast-color: rgb(253, 253, 253);
   --background-color: linear-gradient(109.6deg, rgb(0, 116, 0) 50%, rgba(198, 214, 197, 0.267) 50%); 
}
*/

@media (max-width: 399px) {
  .container {
    overflow-x: hidden;
  }
  .img-container {
    display: none;
  }
  .only-for-mobile{
    display: block;
  }
  /* .navbar-brand {
    font-weight: normal;
    font-size: medium;
  } */

  .description-container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  #about-me-section {
    margin: 0;
  }
  .special-paragraph {
    margin: auto 0;
    font-size: larger;
    padding: 20px 5px;
  }

  .visit-website-button {
    padding: 15px 40px;
  }
  .footer-container {
    display: none;
  }
  .buttons-container {
    display: none;
  }
  .social-links {
    margin-top: 0;
    padding-top: 0;
  }
  footer {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 400px) {
  /* .nav-styles {
    padding: 10px 70px;
  } */
  .special-paragraph:hover {
    font-size: 105%;
    color: var(--main-color);
  }
  #about-me-section {
    margin: 30px auto;

    width: 75%;
  }
  .img-container img {
    display: block;
  }
  .only-for-mobile{
    display: none;
  }

  .special-paragraph {
    width: 60%;
    min-width: 500px;
    margin: auto;
    transition: ease-in-out 500ms all;
  }

  .visit-website-button {
    padding: 15px 25px;
  }

  .social-links {
    margin-top: 50px;
    padding-top: 0;
  }
}

.nav-styles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: larger;
}
.page-header {
  margin-top: 100px;
  padding-top: 20px;
}

a .nav-link {
  padding: 12px;
}

body {
  font-family: "Jura", sans-serif;
  text-align: center;
  margin: 5px auto;
  max-width: 1400px;
  color: var(--main-color);
  background-color: var(--background-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: inherit;
}
.navbar-brand {
  font-weight: bold;
  font-size: x-large;
}
.nav-link {
  font-size: large;
  font-weight: bolder;
}

.navbar-brand,
.nav-link {
  color: var(--main-color);
}

a {
  text-decoration: none;
  transition: all 400ms ease-in-out;
  color: var(--secondary-color);
}

.buttons-container {
  margin-top: 50px;
}

#contact-me-button:hover,
.visit-website-button:hover {
  transition: var(--transition-button);
  color: var(--main-color);
  background-color: white;
  border: var(--border-dark);
}
#about-me-button:hover,
.footer-button:hover,
.work-page-buttons:hover {
  transition: var(--transition-button);
  background-color: var(--main-color);
  color: white;
}
#contact-me-button,
#about-me-button,
.visit-website-button,
.footer-button,
.work-page-buttons {
  box-shadow: var(--shadow-buttons);
  border-radius: var(--rounded-more);
  padding: 15px 25px;
}
nav .active {
  text-decoration: overline;
  text-decoration-color: var(--secondary-color);
  color: var(--main-color);
}
#contact-me-button,
.visit-website-button {
  background-color: var(--main-color);
  color: white;
}

#about-me-button,
.footer-button,
.work-page-buttons {
  color: var(--main-color);
  border: var(--border-dark);
}
#about-me-button {
  margin-left: var(--margin-between-buttons);
}
#contact-me-button {
  margin-right: var(--margin-between-buttons);
}

header section p {
  font-size: xx-large;
}
.navbar-brand,
.nav-link:hover {
  transition: all 200ms ease-in-out;
}

a:hover {
  color: var(--main-color);
}

h3 {
  margin-bottom: 15px;
}

.bg-color {
  background-color: var(--background-color);
}
.nav-styles {
  background-color: var(--nav-background-color);
}
.bg-color-contrast {
  background-color: var(--background-contrast-color);
}
.image-border {
  border: 8px solid var(--background-color);
}

section div p {
  text-align: justify;
}
.styles-img,
.container-shadow {
  box-shadow: var(--shadow-img);
  border-radius: var(--rounded-more);
  margin-left: auto;
  margin-right: auto;
}

.contrast-container {
  background-color: var(--background-contrast-color);
}
.special-paragraph {
  text-align: center;
  font-size: medium;
  font-weight: bold;
}
.special-paragraph hr {
  border-color: var(--secondary-color);
  width: 50%;
  margin: 8px auto;
  opacity: 0.3;
}
#about-me-section {
  text-align: justify;
}

.description-container p:last-of-type {
  margin-bottom: 35px;
}
.nav-links {
  flex-grow: 0;
}
.footer-container,
.special-paragraph,
.contrast-container {
  color: var(--main-color);
}

.footer-button {
  margin: auto;
}
.footer-mail {
  margin-top: 500px;
  font-size: large;
}
footer .social-links a {
  margin: 20px 5px;
  padding: 7px 14px;
  border-radius: 50%;
  font-size: 24px;
  color: var(--main-color);
  border: var(--border-dark);
  background-color: var(--background-contrast-color);
}
footer .social-links a:hover {
  color: var(--secondary-color);
  border: var(--border-contrast);
  background-color: var(--background-color);
}
