:root {
  --main-color: rgb(20, 65, 216);
  --border-dark: 1px solid rgb(20, 65, 216);
  --border-light: 1px solid white;
  --transition-button: all 200ms ease-in-out;
  --margin-between-buttons: 20px;
  --shadow-buttons: 3px 3px 8px rgba(213, 120, 216, 0.3);
  --shadow-img: 5px 5px 10px rgba(213, 120, 216, 0.3);
  --rounded-more: 10px;
  --background-color: rgba(213, 120, 216, 0.05);
  --background-contrast-color: white;
}
body {
  font-family: "Jura", sans-serif;
  text-align: center;
  margin: 5px auto;
  max-width: 1400px;
  background-color: var(--background-color);
}

.navbar-brand,
.nav-link {
  color: var(--main-color);
  font-size: large;
}

a {
  text-decoration: none;
  transition: all 400ms ease-in-out;
}
.buttons-container a,
.visit-website-button {
  padding: 15px 25px;
}

.buttons-container {
  margin-top: 30px;
}

#contact-me-button:hover,
.visit-website-button:hover {
  transition: var(--transition-button);
  color: var(--main-color);
  background-color: white;
  border: var(--border-dark);
}
#about-me-button:hover {
  transition: var(--transition-button);
  background-color: var(--main-color);
  color: white;
}
#contact-me-button,
#about-me-button,
.visit-website-button,
.visit-website-button {
  box-shadow: var(--shadow-buttons);
  border-radius: var(--rounded-more);
}

#contact-me-button,
.visit-website-button {
  background-color: var(--main-color);
  color: white;
  margin-right: var(--margin-between-buttons);
}

#about-me-button {
  color: var(--main-color);
  border: var(--border-dark);
  margin-left: var(--margin-between-buttons);
}
header section p {
  font-size: xx-large;
}
.contact-links {
  color: black;
}
.contact-links:hover {
  color: var(--main-color);
}
h3 {
  margin-bottom: 15px;
}
.article-about-me {
  width: 450px;
  padding: 20px;
  text-align: justify;
  margin-bottom: 20px;
}
#about-me-section {
  display: flex;
  justify-content: space-evenly;
  margin: 30px auto;
}
footer {
  margin-top: 200px;
  max-width: 1400px;
}
.bg-color {
  background-color: var(--background-color);
}
.bg-color-contrast {
  background-color: var(--background-contrast-color);
}
.image-container {
}
.section-container {
}

section div p {
  text-align: justify;
}
.styles-img {
  box-shadow: var(--shadow-img);
  border-radius: var(--rounded-more);
}
